body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    text-align:center;
    margin:0;
    padding:20px;
}

h1{
    background:#0d6efd;
    color:white;
    padding:15px;
    border-radius:10px;
}

button{
    width:250px;
    height:50px;
    border:none;
    border-radius:10px;
    font-size:18px;
    color:white;
    cursor:pointer;
}
